.link img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.link:hover img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.link:not(:hover) img {
  filter: grayscale(0.75);
}

.image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
